
@{
    ViewBag.Title = "ActiveUser";
}

<h3>@ViewBag.UserName عزیز.</h3>
<p>حساب کاربری شما با موفقیت فعال شد.</p>
<p>
    می تواند با استفاده از این 
    <a href="/Account/Login">لینک</a>
    وارد سایت بشوید!!!
</p>
