<div class="col-sm-12 col-lg-12 col-xl-4 mt-xl-4">
    <div class="card custom-card card-dashboard-calendar pb-0">
        <label class="main-content-label mb-2 pt-1">ترجمه های اخیر </label>
        <span class="d-block tx-12 mb-2 text-muted">پروژه هایی که کار توسعه در حال اتمام است</span>
        <table class="table table-hover m-b-0 transcations mt-2">
            <tbody>
                <tr>
                    <td class="wd-5p">
                        <div class="main-img-user avatar-md">
                            <img alt="آواتار" class="rounded-circle me-3" src="/Content/img/users/5.jpg">
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-middle ms-3">
                            <div class="d-inline-block">
                                <h6 class="mb-1">سوسو زدن</h6>
                                <p class="mb-0 tx-13 text-muted">بهبود برنامه</p>
                            </div>
                        </div>
                    </td>
                    <td class="text-end">
                        <div class="d-inline-block">
                            <h6 class="mb-2 tx-15 font-weight-semibold">45234 تومان<i class="fas fa-level-up-alt ms-2 text-success m-r-10"></i></h6>
                            <p class="mb-0 tx-11 text-muted">12 اسفند1399 </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="wd-5p">
                        <div class="main-img-user avatar-md">
                            <img alt="آواتار" class="rounded-circle me-3" src="/Content/img/users/6.jpg">
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-middle ms-3">
                            <div class="d-inline-block">
                                <h6 class="mb-1">مسمومیت</h6>
                                <p class="mb-0 tx-13 text-muted">نقطه عطف</p>
                            </div>
                        </div>
                    </td>
                    <td class="text-end">
                        <div class="d-inline-block">
                            <h6 class="mb-2 tx-15 font-weight-semibold">23452 تومان<i class="fas fa-level-down-alt ms-2 text-danger m-r-10"></i></h6>
                            <p class="mb-0 tx-11 text-muted">23 اسفند 1399</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="wd-5p">
                        <div class="main-img-user avatar-md">
                            <img alt="آواتار" class="rounded-circle me-3" src="/Content/img/users/7.jpg">
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-middle ms-3">
                            <div class="d-inline-block">
                                <h6 class="mb-1">دیجی وات</h6>
                                <p class="mb-0 tx-13 text-muted">مجری فروش</p>
                            </div>
                        </div>
                    </td>
                    <td class="text-end">
                        <div class="d-inline-block">
                            <h6 class="mb-2 tx-15 font-weight-semibold">78001 تومان<i class="fas fa-level-down-alt ms-2 text-danger m-r-10"></i></h6>
                            <p class="mb-0 tx-11 text-muted">4 بهمن1399 </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="wd-5p">
                        <div class="main-img-user avatar-md">
                            <img alt="آواتار" class="rounded-circle me-3" src="/Content/img/users/8.jpg">
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-middle ms-3">
                            <div class="d-inline-block">
                                <h6 class="mb-1">سوسو زدن</h6>
                                <p class="mb-0 tx-13 text-muted">نقطه عطف 2</p>
                            </div>
                        </div>
                    </td>
                    <td class="text-end">
                        <div class="d-inline-block">
                            <h6 class="mb-2 tx-15 font-weight-semibold">37285 تومان<i class="fas fa-level-up-alt ms-2 text-success m-r-10"></i></h6>
                            <p class="mb-0 tx-11 text-muted">4 بهمن 1399  </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="wd-5p pb-0">
                        <div class="main-img-user avatar-md">
                            <img alt="آواتار" class="rounded-circle me-3" src="/Content/img/users/4.jpg">
                        </div>
                    </td>
                    <td class="pb-0">
                        <div class="d-flex align-middle ms-3">
                            <div class="d-inline-block">
                                <h6 class="mb-1">سوسو زدن</h6>
                                <p class="mb-0 tx-13 text-muted">بهبود برنامه</p>
                            </div>
                        </div>
                    </td>
                    <td class="text-end pb-0">
                        <div class="d-inline-block">
                            <h6 class="mb-2 tx-15 font-weight-semibold">25341 تومان<i class="fas fa-level-down-alt ms-2 text-danger m-r-10"></i></h6>
                            <p class="mb-0 tx-11 text-muted">4 بهمن 1399 </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card custom-card">
        <div class="card-body">
            <div class="row row-sm">
                <div class="col-6">
                    <div class="card-item-title">
                        <label class="main-content-label tx-13 font-weight-bold mb-2">پروژه راه اندازی </label>
                        <span class="d-block tx-12 mb-0 text-muted">پروژه در حال راه اندازی است</span>
                    </div>
                    <p class="mb-0 tx-24 mt-2"><b class="text-primary">145 روز</b></p>
                    <a href="#" class="text-muted">12 دوشنبه ، بهمن 1399 </a>
                </div>
                <div class="col-6">
                    <img src="/Content/img/pngs/work.png" alt="تصویر" class="best-emp">
                </div>
            </div>
        </div>
    </div>
    <div class="card custom-card">
        <div class="card-header border-bottom-0 pb-0 d-flex pl-3 me-1">
            <div>
                <label class="main-content-label mb-2 pt-2">در پروژه های  بزرگ </label>
                <span class="d-block tx-12 mb-2 text-muted">هایی که کار توسعه در آن به پایان می رسد</span>
            </div>
        </div>
        <div class="card-body pt-2 mt-0">
            <div class="list-card">
                <div class="d-flex">
                    <div class="demo-avatar-group my-auto float-right">
                        <div class="main-img-user avatar-xs">
                            <img alt="آواتار" class="rounded-circle" src="/Content/img/users/1.jpg">
                        </div>
                        <div class="main-img-user avatar-xs">
                            <img alt="آواتار" class="rounded-circle" src="/Content/img/users/2.jpg">
                        </div>
                        <div class="main-img-user avatar-xs">
                            <img alt="آواتار" class="rounded-circle" src="/Content/img/users/3.jpg">
                        </div>
                        <div class="main-img-user avatar-xs">
                            <img alt="آواتار" class="rounded-circle" src="/Content/img/users/4.jpg">
                        </div>
                        <div class="">تیم طراحی</div>
                    </div>
                    <div class="ms-auto float-right">
                        <div class="">
                            <a href="#" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-horizontal"></i></a>
                            <div class="dropdown-menu dropdown-menu-left" style="">
                                <a class="dropdown-item" href="#">امروز </a>
                                <a class="dropdown-item" href="#">هفته </a>
                                <a class="dropdown-item" href="#">گذشته ماه </a>
                                <a class="dropdown-item" href="#">گذشته سال گذشته</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item mt-4">
                    <div class="card-item-icon bg-transparent card-icon">
                        <span class="peity-donut" data-peity="{ &quot;fill&quot;: [&quot;#6259ca&quot;, &quot;rgba(204, 204, 204,0.3)&quot;], &quot;innerRadius&quot;: 15, &quot;radius&quot;: 20}">7/6</span>
                    </div>
                    <div class="card-item-body">
                        <div class="card-item-stat">
                            <small class="tx-10 text-primary font-weight-semibold">25اسفند 1399</small>
                            <h6 class=" mt-2">طراحی برنامه موبایل</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-card mb-0">
                <div class="d-flex">
                    <div class="demo-avatar-group my-auto float-right">
                        <div class="main-img-user avatar-xs">
                            <img alt="آواتار" class="rounded-circle" src="/Content/img/users/5.jpg">
                        </div>
                        <div class="main-img-user avatar-xs">
                            <img alt="آواتار" class="rounded-circle" src="/Content/img/users/6.jpg">
                        </div>
                        <div class="main-img-user avatar-xs">
                            <img alt="آواتار" class="rounded-circle" src="/Content/img/users/7.jpg">
                        </div>
                        <div class="main-img-user avatar-xs">
                            <img alt="آواتار" class="rounded-circle" src="/Content/img/users/8.jpg">
                        </div>
                        <div class="">تیم طراحی</div>
                    </div>
                    <div class="ms-auto float-right">
                        <div class="">
                            <a href="#" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-horizontal"></i></a>
                            <div class="dropdown-menu dropdown-menu-left" style="">
                                <a class="dropdown-item" href="#">امروز </a>
                                <a class="dropdown-item" href="#">هفته </a>
                                <a class="dropdown-item" href="#">گذشته ماه </a>
                                <a class="dropdown-item" href="#">گذشته سال گذشته</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item mt-4">
                    <div class="card-item-icon bg-transparent card-icon">
                        <span class="peity-donut" data-peity="{ &quot;fill&quot;: [&quot;#6259ca&quot;, &quot;rgba(204, 204, 204,0.3)&quot;], &quot;innerRadius&quot;: 15, &quot;radius&quot;: 20}">5/7</span>
                    </div>
                    <div class="card-item-body">
                        <div class="card-item-stat">
                            <small class="tx-10 text-primary font-weight-semibold">12 بهمن 1399</small>
                            <h6 class=" mt-2">طراحی مجدد وب سایت</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card custom-card">
        <div class="card-body">
            <div class="d-flex">
                <label class="main-content-label my-auto">طراحی وب سایت</label>
                <div class="ms-auto  d-flex">
                    <div class="me-3 d-flex text-muted tx-13">در حال دویدن</div>
                </div>
            </div>
            <div class="mt-2">
                <div>
                    <span class="tx-15 text-muted">کار به پایان رسید: 7/10</span>
                </div>
                <div class="container mt-2 mb-2">
                    <canvas id="bar-chart" class="ht-180"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mt-4">
                        <div class="d-flex mb-2">
                            <h5 class="tx-15 my-auto text-muted font-weight-normal">مشتری :</h5>
                            <h5 class="tx-15 my-auto me-3">جان دیو</h5>
                        </div>
                        <div class="d-flex mb-0">
                            <h5 class="tx-13 my-auto text-muted font-weight-normal">ضرب الاجل :</h5>
                            <h5 class="tx-13 my-auto text-muted me-2">25 اسفند 1399</h5>
                        </div>
                    </div>
                </div>
                <div class="col col-auto">
                    <div class="mt-3">
                        <div class="">
                            <img alt="" class="ht-50" src="/Content/img/media/project-logo.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

